body { margin: 0;
padding: 0;
font-family: cursive;
color-scheme: white;
}   



.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu-item {
    padding: 8px;
}
 .hero-img {
     width: 100%;
     height: auto;
     
 }

 .content {background-color:rgb(55, 55, 55);
            width: 100%;
            height: fit-content;
            display: flex; 
        flex-direction: column;
    align-items: center;
color:white}


.media-photos{
    width: 200px;
    height: 200px;
    margin: 16px;
    object-fit: row;
    background-color: rgb(55, 55, 55);
       
    }
.home-intro{
    padding: 8px;padding: 0px 128px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: rgb(55, 55, 55);
    color:white}
    
.title-center {
    text-align: center;
    }
    /*gettin-around segment*/

.london-wrapper{
    display:flex;
    flex-direction: row;padding: 8px;padding: 0px 128px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: rgb(55, 55, 55);
    color:white
}
.london-images{
    width: 100px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
/*zuma experience segment*/

.zuma-experience{
    background-color: rgb(55, 55, 55);
    width: 100%;
    height: fit-content;
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: white;
    }

   .zuma-images {
    width: 100px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-text{
    color: white;
    padding: 0%;
margin: 0%;}


 .text-align-center{
    padding: 0px 128px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

 }

.navbar-color{
    background-color:gray;
}
.title-center{
    text-align: center;
}
.sticky-header{
    position: sticky;
    top: 0;
    background-color: white;

}

div.media-photos{
    margin: 5px;
    border: 1px solid #ccc;
    float: none;
    width: 180px;
  }
  
  div.media-photos:hover {
    border: 1px solid #777;
  }
  
  div.media-photos {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: left;
    background-color: rgb(55, 55, 55);
    color: white;
  }

   /* Media Queries */

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    p{
        font-size: 1.25rem;}}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    p{
        font-size: 1.25rem;}}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    p{
        font-size: 1.25rem;
    line-height: 1.5;}}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p class="" {
        font-size: 1.25rem;
    line-height: 1.75;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p{
        font-size: 1.25rem;
    line-height: 2;}}