body {
    margin: 0;
    padding: 0 1em;
    font-family: cursive;
    color-scheme: white;
}



.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menu-item {
    padding: 0 1em;
}

.hero-img {
    max-width: 100%;
    height: auto;

}

.content {
    background-color: rgb(55, 55, 55);
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white
}


.media-photos {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 8px;
    margin: 0 auto;
}

.home-intro {
    padding: 0 1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: rgb(55, 55, 55);
    color: white
}

.title-center {
    text-align: center;
}

/*gettin-around segment*/

.london-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: rgb(55, 55, 55);
    color: white;
 
}

.london-images {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

.image-wrapper {
    width: 100%;
    padding: 8px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*zuma experience segment*/

.zuma-experience {
    background-color: rgb(55, 55, 55);
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.zuma-images {
    height: 264px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.image-text {
    color: white;
    padding: 0% 1em;
    margin: 0%;
}


.text-align-center {
    padding: 0 1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


/* visited link */
a:visited {
    color: yellow;
}

/* mouse over link */
a:hover {
    color: black;
    background-color:grey;
}

/* selected link */
a:active {
    color: yellow;
}

.navbar-color {
    background-color: gray;
}

.title-center {
    text-align: center;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;

}

div.desc {
    padding: 0 1em;
    text-align: left;
    background-color: rgb(55, 55, 55);
    color: white;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    p {
        font-size: 1.25rem;
        padding: 0px 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    p {
        font-size: 1.25rem;
        padding: 0 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    p {
        font-size: 1.25rem;
        line-height: 1.5;
        padding: 0 1em;
    }
    .zuma-images {
        height: 464px;
    }
    .london-images {
        height: 464px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p {
        font-size: 1.25rem;
        line-height: 1.75;
        padding: 0 1em;
    }
    .zuma-images {
        height: 392px;
    }
    .london-images {
        height: 392px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p {
        font-size: 1.25rem;
        line-height: 2;
        padding: 0 1em;
    }
}